td {
  border: 1px solid black;
  width: 30px;
  height: 30px;

  text-align: center;
  vertical-align: middle;
}

td > p {
  margin: 0;
}

.shipLoc {
  background-color: green;
}

.salvoLoc {
  background-color: yellow;
}

.hitLoc {
  background-color: red;
}

.shipOnMoveCorrect {
  background-color: lightgreen;
}

.shipOnMoveError {
  background-color: red;
}

.my-margin {
  margin-top: 60px;
  margin-left: 50px;
}

.strikethrough {
  text-decoration: line-through;
}

.ship {
  background-color: green;
}
